.column1 {
  text-align: center;
  align-items: center;
  float: left;
  width: 25%;
}
/* Stops the float property from affecting content after the columns */
.columns1:after {
  content: "";
  display: table;
  clear: both;
}
