{% extends "layout.html" %}
{% block body %}

<link href="{{ url_for('static', filename='css/team.css') }}" rel="stylesheet" />
<body>
  <div class="row">

    <div class="column">
      <div class="card">
        <img src="{{ url_for('static', filename='images/pawan.jpg') }}" alt="Jane" style="width:100%">
        <div class="container">
          <h3 class="title">Pawan Kadam</h3>
          <p class="title">Computer Engineer</p>
          <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
          <div class="social">
            <div>
              <a href="https://www.linkedin.com/in/pawan-kadam/" target="_blank">
                <img src="{{ url_for('static', filename='images/LinkedIn_Icon.svg') }}" width="40px" height="40px">
              </a>                
            </div>
            <div>
              <a href="https://github.com/Pawan-Kadam" target="_blank">
                <img src="{{ url_for('static', filename='images/GitHub_Icon.svg') }}" width="40px" height="40px">
              </a>
            </div>
            <div>
              <a href="https://wa.me/+919175407051" target="_blank">
                <img src="{{ url_for('static', filename='images/WhatsApp_Icon.svg') }}" width="40px" height="40px">
              </a>
            </div>
          </div>
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="{{ url_for('static', filename='images/pratik.jpg') }}" alt="Jane" style="width:100%">
        <div class="container">
          <h3 class="title">Pratik Padalkar</h3>
          <p class="title">Computer Engineer</p>
          <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
          <div class="social">
            <div>
              <a href="https://www.linkedin.com/in/pratikpadalkar19/" target="_blank">
                <img src="{{ url_for('static', filename='images/LinkedIn_Icon.svg') }}" width="40px" height="40px">
              </a>
            </div>
            <div>
              <a href="https://github.com/Pratik00019" target="_blank">
                <img src="{{ url_for('static', filename='images/GitHub_Icon.svg') }}" width="40px" height="40px">
              </a>
            </div>
            <div>
              <a href="https://wa.me/+918830442775" target="_blank">
                <img src="{{ url_for('static', filename='images/WhatsApp_Icon.svg') }}" width="40px" height="40px">
              </a>
            </div>
          </div>
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="{{ url_for('static', filename='images/yadavcomp.jpg') }}" alt="Mike" style="width:100%">
        <div class="container">
          <h3 class="title">Aditya V. Yadav</h3>
          <p class="title">Computer Engineer</p>
          <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
          <div class="social">
            <div>
              <a href="https://www.linkedin.com/in/aditya-yadav-341363191/" target="_blank">
                <img src="{{ url_for('static', filename='images/LinkedIn_Icon.svg') }}" width="40px" height="40px">
              </a>
            </div>
            <div>
              <a href="https://github.com/Addy-tea-ya" target="_blank">
                <img src="{{ url_for('static', filename='images/GitHub_Icon.svg') }}" width="40px" height="40px">
              </a>
            </div>
            <div>
              <a href="https://wa.me/+917499409423" target="_blank">
                <img src="{{ url_for('static', filename='images/WhatsApp_Icon.svg') }}" width="40px" height="40px">
              </a>
            </div>
          </div>
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="{{ url_for('static', filename='images/yadaventc.jpg') }}" alt="John" style="width:100%">
        <div class="container">
          <h3 class="title">Aditya A. Yadav</h3>
          <p class="title">E&TC Engineer</p>
          <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
          <div class="social">
            <div>
             <a href="https://www.linkedin.com/in/aditya-yadav-34a8861b0/" target="_blank">
              <img src="{{ url_for('static', filename='images/LinkedIn_Icon.svg') }}" width="40px" height="40px">
            </a>
          </div>
          <div>
            <a href="https://github.com/adi932001" target="_blank">
              <img src="{{ url_for('static', filename='images/GitHub_Icon.svg') }}" width="40px" height="40px">
            </a>
          </div>
          <div>
            <a href="https://wa.me/+919307860826" target="_blank">
              <img src="{{ url_for('static', filename='images/WhatsApp_Icon.svg') }}" width="40px" height="40px">
            </a>
          </div>
        </div>
        <!-- <p><button class="button">Contact</button></p> -->
      </div>
    </div>

  </div>
</div>
</body>
{% endblock %}
